POST requests are cached by default

### cache-control version

1.1.3

### Expected Behavior

According to section 4.3.3 of RFC 7231 POST requests should not be cached unless they contain relevant headers:
> Responses to POST requests are only cacheable when they include
> explicit freshness information (see Section 4.2.1 of [RFC7234]).

It seems reasonable because POST requests are not idempotent.

### Actual Behavior

POST requests are cached when response doesn't contain any caching headers.

Okay, I need to do some cleanup here.

Here's an example demonstrating strange behavior.

1. Suppose we have a server returning 200 OK without any cache-related headers on POST requests:
https://gist.github.com/dubrovskieddie/56d27bac0f5f51831110ca2ead0757a6

2. In Play we can enable logging of caching by adding this line to logback.xml:
`<logger name="play.api.libs.ws.ahc.cache" level="TRACE" />`

3. Now we make a request with WSClient:
`wsClient.url("http://localhost:8080").post("")`
In the logs we see
> [debug] p.a.l.w.a.c.AsyncCachingHandler - isCacheable: DO CACHE, because Response status code 200 is cacheable by default

4. Now turn off akka-http server and make the same request again. 200 OK is returned. In the logs:
> java.net.ConnectException: Connection refused: localhost/127.0.0.1:8080
> ...
>[debug] p.a.l.w.a.c.AsyncCachingHandler - processDisconnectedResponse:
>[debug] p.a.l.w.a.c.AhcHttpCache - get: key = POST http://localhost:8080

was https://github.com/playframework/cachecontrol/pull/30 pulled into backported into cachecontrol 1.1.x? If not, I'd like to release a new version and pull it into the latest version of play-ws